body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tooltip {
  visibility: visible;
  position: relative;
  top: -1.9rem;
  background-color: red;
  padding: 0.38rem;
  border-radius: 5px;
  display: inline-block;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border-style: solid;
  border-color: red transparent transparent transparent;
}

.headerContainer {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  flex-direction: 'column';
  position: 'absolute';
}

.headerContainer:hover .tooltip {
  visibility: visible;
}
